# Remove the wrong early-boot section
# on early-boot
#     chmod 0664 /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown
#     chown system graphics /sys/bus/platform/devices/soc:xiaomi_fingerprint/fingerdown

on post-fs-data
    mkdir /data/vendor/misc 01771 system system
    mkdir /data/vendor/misc/xiaomi-fp 0770 system system
    mkdir /persist/xioami-fp 0770 system system
    mkdir /mnt/vendor/persist/mi_fp 0770 system system
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /data/vendor/fingerprint 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system

# For the NFC variant (sapphiren)
on post-fs && property:ro.boot.hwname=sapphiren
    start stflashtool
    setprop ro.vendor.se.type HCE,UICC
    setprop ro.nfc.port I2C

on post-fs-data && property:ro.boot.hwname=sapphiren
    mkdir /data/vendor/nfc 0770 nfc nfc

# For the non-NFC variant (sapphire)
on boot && property:ro.boot.hwname=sapphire
    stop vendor.st_nfc_hal_service
    setprop ro.vendor.se.type ""

on boot
    # Goodix sensor (if you have dual sensor support)
    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp
    
    # Xiaomi fingerprint device
    chmod 0666 /dev/xiaomi-fp
    chown system system /dev/xiaomi-fp
    
    # FOD press detection - CRITICAL for screen-off UDFPS
    chmod 0664 /sys/class/touch/touch_dev/fod_press_status
    chown system graphics /sys/class/touch/touch_dev/fod_press_status
    
    # Wakeup source
    chown system system /sys/devices/platform/soc/soc:fingerprint_xiaomi/wakeup/wakeup7/active
    chmod 0660 /sys/devices/platform/soc/soc:fingerprint_xiaomi/wakeup/wakeup7/active
    
    # Touch test
    chmod 0664 /sys/class/touch/touch_dev/touch_dfs_test
    chown system system /sys/class/touch/touch_dev/touch_dfs_test

    chmod 0666 /dev/input/event2


service stflashtool /vendor/bin/STFlashTool
    override
    class late_start
    group nfc
    user nfc
    oneshot
    disabled

service vendor.goodix-events /vendor/bin/init.goodix.events.sh
    class late_start
    user root
    group root system input
    disabled
    oneshot      

on property:sys.boot_completed=1
    start vendor.goodix-events

on property:ro.boot.hwname=*
    setprop ro.boot.product.hardware.sku ${ro.boot.hwname}